@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  overscroll-behavior-y: none;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  cursor: none;
}

* {
  cursor: none !important;
}

img {
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

.paper-bg {
  background-image: url("../../public/paper_bg0.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: lighten;
}

.swanky-and-moo-moo-regular {
  font-family: "Swanky and Moo Moo", cursive;
  font-weight: 400;
  font-style: normal;
}

.paper_bg0 {
  background-image: url("/paper_bg0.jpg");
  background-size: cover;
  background-position: center;
}

.paper_bg1 {
  background-image: url("/paper_bg1.jpg");
  background-size: cover;
  background-position: center;
}

.paper_bg2 {
  background-image: url("/paper_bg2.jpg");
  background-size: cover;
  background-position: center;
}

.paper_bg3 {
  background-image: url("/paper_bg3.jpg");
  background-size: cover;
  background-position: center;
}

.paper_bg4 {
  background-image: url("/paper_bg4.jpg");
  background-size: cover;
  background-position: center;
}

.paper_bg5 {
  background-image: url("/paper_bg5.jpg");
  background-size: cover;
  background-position: center;
}

.content-card {
  transform: rotate(var(--rotation, 0deg));
}

.content-card:hover {
  transform: rotate(0deg) scale(1.05);
}
